<div id="container">

<h1>High scores</h1>
<table class="table table-responsive">
  <thead>
      <tr>
        <th>Score</th>
      </tr>
  </thead>
<?php

  foreach ($query as $row){

        echo '<tr><td>'.$row["hs1"].'</td></tr>';
  }
  ?>
</div>
