<!--- View of form presented to user -->

  <div id="container">
    <div id="header">

        <?php
        echo 'Som '.@$totalanswered.'<br><h2>'.$som.'</h2>';

        echo $this->Form->create('quiz');
        echo $this->Form->input('Antwoord',['label'=>'','type'=>'text',  'name'=>'postMe', 'autofocus' =>'true']);
        echo $this->Form->input('answ',['type'=>'hidden', 'value'=>$answ, 'name'=>'answ']);
        echo $this->Form->end();

        //Stop button form
        echo $this->Form->create('stopquiz');
        echo $this->Form->submit('Stop', array('name'=>'stopMe'));
        echo $this->Form->end();
        ?>


  </div>
</div>
